body{
    margin:0;
    color:#6a6f8c;
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("banderband bd.jpg");
    background-size: 100% 100%;
    font:600 16px/18px 'Open Sans',sans-serif;
}
*:after,*:before{
    box-sizing: border-box;
}
/*
.clearfix:after,.clearfix:before{
    content:'';
    display:table
}
.clearfix:after{
    clear:both;
    display:block
}
*/
a{
    color:inherit;
    text-decoration:none}

.login-wrap{
    width:100%;

    margin-left: 160px;
    margin-top: 50px;
    max-width:850px;
    min-height:700px;
    position:relative;
    background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
    box-shadow:0 50px 30px 0 rgba(0,0,0,.6),0 0 0 0 rgba(0,0,0,.6);
}
.login-html{
    width:850px;
    height:88%;
    position:absolute;
    padding:30px 70px 50px 70px;
    background:rgba(40,57,101,.9);
    box-shadow:0 17px 30px 0 rgba(0,0,0,.6),0 17px 50px 0 rgba(0,0,0,.6);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top:70px;
    left:0;

    right:0;
    bottom:0;
    position:absolute;


   transform:rotateY(180deg);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
    display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform:uppercase;
}
.login-html .tab{
    font-size:18px;

    padding-bottom:5px;
    margin:0 25px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color:#fff;
    border-color:#1161ee;
}
.login-form{
    min-height:345px;
    position:relative;
    -webkit-perspective:1000px;
    perspective:1000px;

    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
}
.login-form .group{
    margin-bottom:15px;

}
.login-form .group .label,
.login-form .group .input
{
    width: 400px;
    color:#fff;
    display:block;
    margin-bottom: 10px;
}
.button{
    width:200px;
    color:#fff;
    display:block;
    margin-top: 10px;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    padding:10px 15px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
    text-security: circle;
    -webkit-text-security:circle;

}
.login-form .group .label{
    color:#aaa;
    font-size:12px;
}
.login-form .group .button{
    background:#1161ee;
}
.login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    -webkit-transition:all .2s ease-in-out 0s;
    transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    -webkit-transform:scale(0) rotate(0);
    transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
    top:6px;
    right:0;
    -webkit-transform:scale(0) rotate(0);
    transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color:#fff;
}
.login-form .group .check:checked + label .icon{
    background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
    -webkit-transform:scale(1) rotate(45deg);
    transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    -webkit-transform:scale(1) rotate(-45deg);
    transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    -webkit-transform:rotate(0);
    transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    -webkit-transform:rotate(0);
    transform:rotate(0);
}

.hr{
    height:2px;
    width: 850px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    margin-left: 400px;
    text-align:center;
}


.menu-miranda{
    line-height: 1;
    margin: 0 30px 0.5em;
}
.menu-list {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.bar{
    padding: 20px 5px 0;
    display: block;
    margin: 1em 0;
    font-family: "Buxton Sketch";
    font-size: 23px;
}
.link{
    font-size: 1.05em;
    font-weight: bold;
    display: block;
    padding: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    text-decoration: none;
    color: white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.link:hover,
.link:focus {
    outline: none;

}
.bar a{

    /*color: rgba(208, 239, 116, 0.8);*/
}
.bar a:hover{
    text-decoration: blink;
    color: #34598c;
}
.menu-miranda .bar{
    position: relative;

}
.menu-miranda .link{
    position: relative;
    display: block;
    min-width: 120px;
    text-align: center;
    color: #ffffff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.menu--miranda .link:hover,
.menu--miranda .link:focus {
    color: #ffffff;
}
.menu--miranda .bar-current .link {
    color: rgba(40,57,101,1);
}
.bar-current a{
    border-top: 2px solid;
    border-bottom: 2px solid;

    padding: 5px;
    color: white;
    text-decoration: none;

}
.bar-current a:hover{
    color: rgba(40,57,101,1);
    padding: 5px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    text-decoration: none;
}
.menu--miranda .bar::before,
.menu--miranda .bar::after,
.menu--miranda .bar::before,
.menu--miranda .bar::after {
    content: '';
    position: absolute;
    background: rgba(40,57,101,1);
    -webkit-transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
    -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
    transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
}

#nav_bar{
    text-align: center;
    width: 100%;
}
#nav_bar ul{
    width: 100%;
}
#nav_bar ul li{
    width: 15%;
    background-color: transparent;
    text-align: center;
}
#nav_bar ul li a{
    text-align: center;
}
#nav_bar ul li, div{
    display: inline-block;
    float: left;
}


#logowrapper{

    height: 95px;
    margin-left: 40px;

    margin-top: 20px;
    opacity: 1;
    color: white;
    font-size: 30px;
    /* background: url("logotransparent.png")*/

}

.fa-dot-circle-o {
    padding-top: 50px;
    color: white;
    size: 5px;
    margin-left: 20px;
    margin-right: 20px;
}